{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="overlay" id="overlay">
    <div class="modal-box">
        <img src="{% static 'img/Curvilineo.jpg' %}">
        <h2>Redefinir senha</h2>
        <div class="modal-content">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">E-mail cadastrado:</label>
                    <input type="email" name="email" required>
                    <button type="submit" class="btn">Redefinir Senha</button>
                </div>
            </form>
            <a href="{% url 'contas:profile' %}">Voltar</a>

        </div>
    </div>
</div>
{% endblock %}