{% extends 'base.html' %}

{% load static %} <!-- Adicionando esta linha para carregar a tag static -->

{% block content %}
<div class="profile-container">
    <h2>Perfil</h2>

    <div class="profile-info">

        <!-- Exibindo foto de perfil -->
        <div class="profile-picture">
            {% if user.userprofile.avata %}
            <img src="{{ user.userprofile.avata.url }}" alt="Foto de Perfil" class="img-thumbnail" style="max-width: 200px;">
        {% else %}
            <img src="{% static 'img/userdef.svg' %}" alt="Foto de Perfil Padrão" class="img-thumbnail" style="max-width: 200px;">
        {% endif %}
        
        </div>

        <p><strong>Nome:</strong> {{ user.username }}</p>
        <p><strong>E-mail:</strong> {{ user.email }}</p>

        <!-- Exibindo o grupo do usuário -->
        <p><strong>Grupo:</strong>
            {% if user.groups.all %}
            {% for group in user.groups.all %}
                {{ group.name }}
            {% endfor %}
            {% else %}
                Não atribuído
            {% endif %}
        </p>

        <!-- Exibindo bio -->
        <p><strong>Bio:</strong>
            {% if user.userprofile.bio %}
            {{ user.userprofile.bio }}
            {% else %}
            Bio não definida.
            {% endif %}
        </p>
    </div>

    {% if user.is_authenticated %}
    <a href="{% url 'contas:edit_profile' %}" class="btn">Editar Perfil</a><br>
    <a href="{% url 'contas:password_reset' %}">Redefinir senha</a><br>
    <a href="{% url 'contas:delete_account' %}" class="btn">Deletar Perfil</a><br>
    <a href="{% url 'contas:logout' %}" class="btn">Sair</a><br>
    {% else %}
    <a href="{% url 'contas:login' %}">LOGIN</a>
    {% endif %}

    {% if user.is_superuser %}
    <a href="{% url 'admin:index' %}">Sistema</a>
    {% endif %}
</div>
{% endblock %}
