{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>
    <h2>Usuários</h2>
    <p>{{ total_users }}</p>
</div>
<div>
    <h2>Egressos</h2>
    <p>{{ total_egressos }}</p>
</div>
<div>
    <h2>Visitantes</h2>
    <p>{{ total_visitantes }}</p>
</div>

{% for sala in salas_data %}
    <p>{{ sala.sala }}</p>  <!-- Exibe o nome da sala -->
    <div>
        <div class="box_post">
            <table>
                <thead>
                    <tr>
                        <th>Categorias</th>
                        <th>Tópicos</th>
                        <th>Respostas</th>
                        <th>Votos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ sala.total_categorias }}</td>
                        <td>{{ sala.total_topicos }}</td>
                        <td>{{ sala.total_respostas }}</td>
                        <td>{{ sala.total_votos }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endfor %}

{% endblock %}
