{% extends 'base.html' %}
{% block content %}

<title>{{ topico.title }} - Fórum</title>

<h2>{{ topico.title }}</h2>
<p>{{ topico.content }}</p>

<p><strong>Autor:</strong> {{ topico.author.username }} | <strong>Criado em:</strong> {{ topico.created_at|date:"d/m/y" }}</p>
<!-- Verifica se o usuário é o autor do tópico -->
{% if user == topico.author %}
<a href="{% url 'forum:edit_topico' topico.id %}"><button class="btn-mini">Editar</button></a>
<a href="{% url 'forum:delete_topico' topico.id %}" onclick="return confirm('Tem certeza?');"><button class="btn-mini">Excluir</button></a>
{% endif %}

<h3>Tags:</h3>
<ul>
    {% for tag in tags %}
    <li>{{ tag.name }}</li>
    {% empty %}
    <li>Sem tags associadas.</li>
    {% endfor %}
</ul>

<h2>Respostas:</h2>
<ul>
    {% for resposta in respostas %}
    <div class="box_post">


        <li>
            <p>{{ resposta.author.username }} | {{ resposta.created_at|date:"d/m/y" }}</p>
            <p>{{ resposta.content }}</p>
            <p><strong>Votos:</strong> {{ resposta.votos }}</p>

            <!-- Botão para votar, só exibido para usuários autenticados -->
            {% if user.is_authenticated %}
            <form action="{% url 'forum:voto_resposta' resposta.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn-mini" >Votar como útil</button>
            </form>
            {% else %}
            <p>Você precisa estar <a href="{% url 'contas:login' %}">logado</a> para votar.</p>
            {% endif %}

            {% if user == resposta.author %} <!-- Verifica se o usuário é o autor da resposta -->
            <a href="{% url 'forum:edit_resposta' resposta.id %}">Editar</a>
            <a href="{% url 'forum:delete_resposta' resposta.id %}" onclick="return confirm('Tem certeza?');">Excluir</a>
            {% endif %}
        </li>
    </div>
    {% endfor %}
</ul>

<h3>Adicionar Resposta:</h3>
{% if user.is_authenticated %}
<form method="post" action="{% url 'forum:add_resposta' topico.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn-mini">Adicionar Resposta</button>
</form>
{% else %}
<p>Você precisa estar <a href="{% url 'contas:login' %}">logado</a> para adicionar uma resposta.</p>
{% endif %}

<a href="{% url 'forum:topico_list' topico.categoria.id %}">Voltar</a>

{% endblock %}