{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
<title>Salas - Fórum</title>

<h2>Salas</h2>

{% if user.is_authenticated %}
<!-- Link para criar sala, visível apenas para administradores -->
{% if request.user|can_create %}
<a href="{% url 'forum:create_sala' %}">Criar Sala</a>
{% endif %}

{% if salas %}
<ul>
    {% for sala in salas %}
    <div class="box_post">
        <li>
            <a href="{% url 'forum:categoria_list' sala_id=sala.id %}">{{ sala.name }}</a>

            <!-- Links de edição e exclusão visíveis apenas para administradores -->
            {% if request.user|can_create %}
            <a href="{% url 'forum:edit_sala' sala.id %}"><button>Editar</button></a>
            <a href="{% url 'forum:delete_sala' sala.id %}">
                <button onclick="return confirm('Tem certeza?');">Excluir</button>
            </a>
            {% endif %}
        </li>
    </div>
    {% endfor %}
</ul>
{% else %}
{% if request.user|can_create %}
<a href="{% url 'forum:create_sala' %}">Criar Sala</a>
{% endif %}
<p>Nenhuma sala cadastrada. ^_^</p>
{% endif %}
{% else %}
<p><a href="#">LOGIN necessário</a></p>
{% endif %}

{% endblock %}