{% extends 'base.html' %}
{% block content %}
{% load custom_filters %}
<h1>Tags</h1>
<ul>
    {% for tag in tags %}
        <li>
            <a href="{% url 'forum:topicos_by_tag' tag.id %}">{{ tag.name }}</a>
            <form method="post" action="{% url 'forum:delete_tag' tag.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Excluir</button>
            </form>
        </li>
    {% endfor %}
</ul>
{% if request.user|can_create %}
    <a href="{% url 'forum:create_tag' %}">Criar Nova Tag</a>
{% endif %}
{% endblock %}
